/* You can add global styles to this file, and also import other style files */

@import '@angular/material/theming'; //importando o que tá lá em theming para obter os temas do material io
@import '~bootstrap/dist/css/bootstrap.min.css';
@include mat-core(); //mixin do próprio angular material

$custom-app-primary: mat-palette($mat-blue-gray, A600);
$custom-app-accent: mat-palette($mat-blue-gray, 900);
$custom-app-warn: mat-palette($mat-red);

$custom-theme: mat-light-theme(
  $custom-app-primary, $custom-app-accent, $custom-app-warn);


@include angular-material-theme($custom-theme); //passando tema criado e customisado

html, body { height: 100%; }
body {
  margin: 10px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {
  position: relative;
  /* outros estilos desejados para o título */
}

.image-wrapper {
  position: static;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.image-wrapper img {
  width: 200px;
  height: 200px;
  /* outros estilos desejados para a imagem */
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";
